
@tailwind base;
@tailwind components;
@tailwind utilities;

.popularpackagescollection__col-md-4 {
    margin-left: 10px;
    padding: 10px;
}
.popularpackagescollection__col-md-4 {
    display: flex;

}
@media (min-width: 948px){
    .popularpackagescollection__col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
@media (min-width: 1420px){
    .popularpackagescollection__col-md-4 {
        flex: 0 0 auto;
        width: 23.33333333%;
    }
}

.popularpackagescollection__package {
    height: 100%;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.popularpackagescollection__package:hover{
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transform: scale(1.05);
}
.popularpackagescollection__package-img {
    position: relative;
    height: auto;
    overflow: hidden;
}
.popularpackagescollection__featured {
    background-image: initial;
    background-color: rgb(191, 121, 10);
    color: rgb(0, 0, 0);
    font-weight: 300;
    position: absolute;
    top: 33px;
    right: -47px;
    background: #f39c12;
    color: #fff;
    padding: 1px 60px;
    transform: rotate(45deg);
}
.popularpackagescollection__discount {
    background-image: initial;
    position: absolute;
    top: 17px;
    right: -38px;
    background: #f6dc05;
    color: #000;
    padding: 0px 40px;
    transform: rotate(45deg);
}
.popularpackagescollection__discount span {
    font-weight: 700;
}
.popularpackagescollection__all-down {
    border-right-color: rgb(62, 68, 70);
    border-bottom-color: rgb(62, 68, 70);
    border-left-color: rgb(62, 68, 70);
    border-top-color: initial;
    background-image: initial;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 35px 15px 20px;
}
.popularpackagescollection__peop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: -18px;
    left: 20px;
}
.popularpackagescollection__peop h6 {
    color: rgb(221, 218, 214);
    background-image: initial;
    background-color: rgb(30, 32, 33);
    color: #ffffff;
    font-weight: 600;
    padding: 10px 15px 8px;
    border-radius: 25px;
    background: #000000;
}
.popularpackagescollection__peop h6 del {
    color: rgb(255, 26, 26);
}
.popularpackagescollection__peop h6 del {
    margin-right: 5px;
}
.popularpackagescollection__all-down a {
    padding-bottom: 12px;
    font-weight: 900;
    padding-top: 5px;
}
.popularpackagescollection__all-down p {
    color: rgb(3, 56, 250);
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
}
.popularpackagescollection__all-down p span {
    margin-right: 10px;
}
.popularpackagescollection__pack-down {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3px;
    border-bottom: 1px solid #ccc;
}

.popularpackagescollection__rating{
    margin-top:1px;
}
.popularpackagescollection__reviews{
    font-size: 15px;
}
.popularpackagescollection__next-down p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popularpackagescollection__line{
    border-top: 1px dotted #999;
    width:25%;
}