.home-page {
  position: relative;
  height: 85vh;
  min-height: 80vh;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  & > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  & > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(199, 98%, 48%, 0.411);
    mix-blend-mode: overlay;
  }
  & > .text {
    position: relative;
    padding: 2rem;
    mix-blend-mode: exclusion;
    border-radius: 1rem;
    user-select: none;
  }

  & > .text h3 {
    color: #fff;
  }
  & > .text h4 {
    font-size: 36px;
    color: #fff;
    line-height: 1;
  }
  & > .text a {
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: #111;
    transition: 0.2s;
  }
  & > .text a:hover {
    letter-spacing: 3px;
  }
  @media (max-width: 991px) {
    & > .text {
      padding: 40px;
    }
    @media (max-width: 824px) {
      & > .home-page {
        padding-left: 20px;
      }
    }
  }
}
