.MustVisitInfo {
  margin-top: 10%;
  padding-top: 5px;
  text-align: center;
}

.must-visit {
  display: flex;
  background-color: whitesmoke;
  height: 500px;
  margin-left:auto;
  margin-right:50px;
}
@media (min-width: 886px) {
  .must-visit {
    margin-right: 50px;
  }
}
.nextKey {
  position: relative;
  top: 30%;
  right: -94%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.prevKey {
  position: relative;
  top: 34%;
  left: 4%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.must-visit .cardContainer .cards {
  transition: transform 0.7s ease-in-out;
  text-align: center;
  padding: 2%;
  pointer-events: none;
  margin: 3%;
  //height: 80%;
  box-sizing: border-box;
  box-shadow: -3px 3px 5px 0px rgba(189, 189, 189, 0.75),
    3px -3px 5px 0px rgba(189, 189, 189, 0.75);
}

.cardContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  overflow: hidden;
  align-items: flex-start;
}
@media(max-width:662px) {
  .cardContainer {
    width:35vw;
  }
}
@media(min-width:664px) {
.cardContainer{
  width: 78vw;
}
}
.must-visit .cards #image {
  width: 18vw;
  height: 18vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.must-visit .cardContainer .card-contents {
  padding: 5px;
  overflow: hidden;
}
.must-visit p {
  margin-top: 15px;
}
.header .info {
  margin: 0 auto;
}
.must-visit p {
  font-size: 1.2rem;
  margin: 0;
}
.MustVisitInfo p {
  font-size: 1.2rem;
  margin: 10px;
}
.must-visit h1,
h2 {
  color: #2c4058;
}
.MustVisitInfo h1 {
  color: #2c4058;
}
