@tailwind base;
@tailwind components;
@tailwind utilities;

.popularpackages__col-md-12{
    padding-top:15px;
}
@media (min-width: 768px) {
    .popularpackages__col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
.popularpackages__title h1 {
    margin-bottom: 10px!important;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.popularpackages__title p {
    padding: 0px 0px 30px;
    text-align: center;
    font-weight: 600;
}
@media (min-width: 1200px){
    .h1{
        font-size: 2.5rem;
    }
}
.popularpackages__all-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popularpackages__all-link button {
    background-image: initial;
    background-color: rgb(43, 47, 49);
    color: rgb(221, 218, 214);
    padding: 10px 25px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: fit-content;
    border-radius: 25px;
}
