.cardcontainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.popularplacescontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}