@tailwind base;
@tailwind components;
@tailwind utilities;
.abc{
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;

    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: rgb(255 255 255);
}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_black {
    background-color: whitesmoke;
    color: rgb(0 0 0);
}
.items {
    cursor: pointer;
    padding: 20px;
}
