@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.footer--container {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}
@media(min-width:900px){
  .footer--container{
    padding-left: 100px;
    padding-right: 100px;
  }
}
.right {
  height: fit-content;
  width: 100%;
}
@media(min-width:948px){
  .right {
    display:flex;
  }
}
@media(min-width:948px){
  .aboutIndia{
    width:35%;
    padding-right: 40px;
  }
}
.theory {
  line-height: 1.5;
}
.about {
  padding-top: 50px;
}
.tag {
  width: 65%;
  padding-top: 50px;
}
@media(min-width:948px){
  .tag{
    display:flex;
    margin-left: 20px;
  }
}
@media(min-width:948px) {
  .line {
    height: 3px;
    width: 150px;
  }
}
.inline {
  display: flex;
  flex-direction: column;
}
.stateTourism {
  width: 600px;
}
